@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');


@import "tailwindcss";

body{
    font-family: "Ledger", serif;
    font-style: normal;
    background-color: #F8EFEF
}

*{
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar{
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
  background: #5C1919;
  border-radius: 10px;
}

